.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.menu-wrap .toggler {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 50px;
  opacity: 0;
}

.hamburger-menu {
  position:absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  width: 60px;
  height: 60px;
  padding: 1rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;

}
/* Hamburger line */
.menu-wrap .hamburger-menu > div {
  position: relative;
  flex: none;
  width: 100%;
  height: 2px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
/* Hamburger lines top/bottom */
.menu-wrap .hamburger-menu > div::before,
.menu-wrap .hamburger-menu > div::after {
  content: '';
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background: inherit;
}
/* moves line down */
.menu-wrap .hamburger-menu > div::after{
top: 10px;
}

/* toggler animation */
.menu-wrap .toggler:checked + .hamburger-menu > div {
  transform: rotate(135deg);
}
/* turns lines in x */
.menu-wrap .toggler:checked + .hamburger-menu > div::before {
  top: 0;
  transform: rotate(90deg);
}
.menu-wrap .toggler:checked + .hamburger-menu > div::after {
  top: 0;
  transform: rotate(90deg);
}
/* rotate on hover when checked */
.menu-wrap .toggler:checked:hover + .hamburger-menu > div {
  transform: rotate(225deg);
}

/* Show Menu */
.menu-wrap .toggler:checked ~ .menu {
visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu > div {
  transform: scale(1);
  transition-duration: var(--menu-speed);
}

.menu-wrap .toggler:checked ~ .menu > div  > div {
  opacity: 1;
  transition: opacity 0.4s ease 0.3s;
}
.menu-wrap .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

}

.menu-wrap .menu > div {
  background: var(--overlay-color);
  width: 300vw;
  height: 300vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(0);
  transition: all 0.4s ease;
  border-radius: 50%;
  flex: none;
}

.menu-wrap .menu > div > div {
  text-align: center;
  max-width: 90vw;
  max-height: 100vh;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.menu-wrap .menu > div > div > ul > li {
  list-style: none;
  color: #fff;
  font-size: 1.5rem;
  padding: 1.4rem;
}
.menu-wrap .menu > div > div > ul > li > a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease ;
}
.menu-wrap .menu > div > div > ul > li > a:hover {
  color: steelblue;
}
